/* navbar */
.navbar-brand {
    font-size: 1.7rem;
}
.navbar {
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 30px;
    font-size: 1.25rem;
}
.page-header {
    margin-bottom: 25px;
}
.toasts {
    position: absolute;
    right: 30px;
    top: 70px;
}