{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <a href="{% url 'main:edit_question' question.id %}" class="btn btn-info float-right">Edit <i class="fas fa-edit"></i></a>
        <a href="{{question.link}}" class="btn btn-primary float-right mr-2" target="_blank">Goto Link</a>
        <h1>{{question.title}}</h1>
        <strong class="bg-{{question.difficulty|lower}}">{{question.difficulty}}</strong>
        <hr>
        {% if question.link %}
        {% endif %}
        <p>
            {{ question.description }}
        </p>
        {% if question.tag.all %}
            <strong> Related Tags: </strong>
            {% for tag_name in question.tag.all %}
                <a href="#" class="badge badge-dark">{{tag_name.name}}</a>
            {% endfor %}
        {% endif %}
        <h2>Examples</h2>
        <pre>{{ question.examples }} </pre>
        <!-- Cards collapse using bootstrap -->
        <!-- <button class="btn btn-primary float-right"><i class="fa fa-plus"></i> Add solution</button> -->
        <h2>Solutions</h2>
        <div id="accordion">
            {% for solution in solutions %}
                <div class="card mt-4">
                    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#solution{{forloop.counter}}" aria-expanded="false" aria-controls="collapseOne">
                        <h5 class="mb-0">{{solution.title}} </h5>
                    </div>
                    <div id="solution{{forloop.counter}}" class="solution-section collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <form action="{% url 'main:edit_solution' question.pk solution.pk%}" method="post">
                                {% csrf_token %}
                                {% if solution.link %}
                                    <a href="{{solution.link}}" class="btn btn-primary float-right mr-2">Goto Solution Link</a>
                                {% endif %}
                                <div class="form-title form-group d-none">
                                    <div class="row">
                                        <label class="col-md-2 col-form-label" for="solution-title">Solution title</label>
                                        <input name="soln-title" id="solution-title" type="text" class="form-control col-md-10" value="{{solution.title}}">
                                    </div>
                                </div>
                                <div class="form-link form-group d-none">
                                    <div class="row">
                                        <label class="col-md-2 col-form-label" for="solution-link">Solution link</label>
                                        <input name="link" id="solution-link" type="url" class="form-control col-md-10">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea name="soln-desc" readonly disabled class="form-description form-control-plaintext {% if not solution.notes %}d-none{% endif %}" rows="10">{{solution.notes}}</textarea>
                                </div>
                                <div class="form-row mt-2">
                                    <select name="theme" class="theme-select custom-select col-sm-3 ml-2 mr-2 mb-3">
                                        <option value="chrome">Chrome</option>
                                        <option value="solarized_light">Solarized Light</option>
                                        <option value="monokai" selected>Monokai</option>
                                        <option value="tomorrow_night_eighties">Tomorrow Night</option>
                                        <option value="solarized_dark">Solarized Dark</option>
                                    </select>
                                    <select name="language" class="lang-select form-control col-sm-3 ml-auto mr-2 mb-3" value="{{solution.language}}">
                                        <option value="python" {% if solution.language is "python" %} selected {% endif %}>python</option>
                                        <option value="c_cpp"{% if solution.language is "c_cpp" %} selected {% endif %}>C/C++</option>
                                        <option value="javascript"{% if solution.language is "javascript" %} selected {% endif %}>JavaScript</option>
                                        <option value="java"{% if solution.language is "java" %} selected {% endif %}>Java</option>
                                        <option value="csharp"{% if solution.language is "csharp" %} selected {% endif %}>C#</option>
                                    </select>
                                    <span class="input-group col-sm-2 mr-2 mb-3">
                                        <input type="text" class="size-select form-control" placeholder="font-size: 18">
                                        <div class="input-group-append"><a class="input-group-text fa fa-arrow-right"></a> </div>
                                    </span>
                                </div>
                                <div class="parent col-xs-12">
                                    <div class="editor">{{solution.program}}</div>
                                </div>
                                <input class="ace_control" type="hidden" name="code">
                                <button class="edit-solution btn btn-primary">Edit solution</button>
                                <button type="submit" class="submit-solution btn btn-primary d-none">Save Solution</button>
                            </form>
                        </div>
                    </div> 
                </div>  <!-- Solution card -->
            {% endfor %}


            <div class="card mt-4">
                <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#addsolution" aria-expanded="false" aria-controls="collapseOne">
                    <h5 class="mb-0">Add Solution</h5>
                </div>
                <div id="addsolution" class="solution-section collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="container-fluid">
                            <form action="" method="post">
                                {%  csrf_token %}
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-md-2 col-form-label" for="solution-title">Solution title</label>
                                        <input name="soln-title" id="solution-title" type="text" class="form-control col-md-10" placeholder="Solution {{solutions|length|add:"1"}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-md-2 col-form-label" for="solution-link">Solution link</label>
                                        <input name="link" id="solution-link" type="url" class="form-control col-md-10">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-md-2 col-form-label" for="solution-notes">Solution notes</label>
                                        <textarea name="soln-desc" id="solution-notes" rows="10" cols="40" class="form-control col-md-10"></textarea>
                                    </div>
                                </div>
                                <div class="form-row mt-2">
                                    <select name="theme" class="theme-select custom-select col-sm-3 ml-2 mr-2 mb-3">
                                        <option value="chrome">Chrome</option>
                                        <option value="solarized_light">Solarized Light</option>
                                        <option value="monokai" selected>Monokai</option>
                                        <option value="tomorrow_night_eighties">Tomorrow Night</option>
                                        <option value="solarized_dark">Solarized Dark</option>
                                    </select>
                                    <select name="language" class="lang-select form-control col-sm-3 ml-auto mr-2 mb-3">
                                        <option value="python" selected>python</option>
                                        <option value="c_cpp">C/C++</option>
                                        <option value="javascript">JavaScript</option>
                                        <option value="java">Java</option>
                                        <option value="csharp">C#</option>
                                    </select>
                                    <span class="input-group col-sm-2 mr-2 mb-3">
                                        <input type="text" class="size-select form-control" placeholder="font-size: 18">
                                        <div class="input-group-append"><a class="input-group-text fa fa-arrow-right"></a> </div>
                                    </span>
                                </div>
                                <div class="parent col-xs-12">
                                    <p class="form-text text-muted">The changes you make to the editor below will not be applied until you edit ans save the solution</p>
                                    <div class="editor"></div>
                                </div>
                                <input class="ace_control" type="hidden" name="code">
                                <button type="submit" class="submit-solution btn btn-primary">Save solution</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>  <!-- Solution card -->

        </div>  <!-- Accordian -->
    </div>
{% endblock %}