{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <a href="/" class="btn btn-info float-right">Edit <i class="fas fa-edit"></i></a>
        <h1>{{question.title}}</h1>
        <strong class="bg-{{question.difficulty|lower}}">{{question.difficulty}}</strong>
        <hr>
        <p>
            {{question.description}}
        </p>
        <!-- Cards collapse using bootstrap -->
        <h2>Solutions</h2>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                    <button class="btn" data-toggle="collapse" data-target="#solution1" aria-expanded="false" aria-controls="collapseOne">
                        Solution 1
                    </button>
                    </h5>
                </div>
            
                <div id="solution1" class="solution-section collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <select name="language" id="lang-select" class="form-control col-sm-3 ml-auto mr-2 mb-3">
                                <option value="python">python</option>
                                <option value="c_cpp">C/C++</option>
                                <option value="javascript">JavaScript</option>
                                <option value="java">Java</option>
                                <option value="csharp">C#</option>
                            </select>
                            <input type="text" class="form-control col-sm-2 mr-2 mb-3" placeholder="font-size">
                        </div>
                        <div class="parent col-xs-12">
                            <div id="editor">function foo(items) {
                                var x = "All this is syntax highlighted";
                                return x;
                            }</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for solution in solutions %}
            <hr>
            <div class="solution-section">
                <h3>{{solution.title}} <span class="badge">{{solution.language}}</span></h3>
                <div class="solution-code">{{solution.program}}</div>
                <div class="solution-notes">{{solution.notes}}</div>
                {% if solution.link is not none %}
                    <a href="{{solution.link}}" class="btn btn-primary" target="_blank">Goto solution</a>
                {% endif %} 
            </div>
        {% endfor %}
    </div>
{% endblock %}