{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>Add Question</h1>
        <p>Fill in the details of the question below. Use Ctrl or Shift to select multiple tags for the question.</p>
        <br>
        <form action="add_question" method="post">
            {% csrf_token %}
            {% for key, value in fields.items %}
                <div class="form-group row">
                    <div class="col-md-2">
                        <label for="id_{{key}}">{{key.capitalize}}</label>
                    </div>
                    <div class="col-md-10">{{value}}</div>
                </div>
            {% endfor %} 
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}