# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Github\Code-Database\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
